@font-face {
    font-family: 'digital-7_monomono';
    src: url('digital7-mono/digital-7.ttf');
    src: url('digital7-mono/digital-7-webfont.woff2') format('woff2'),
         url('digital7-mono/digital-7-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}